@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800);

body {
  background: #f0ffdf;
  font-family: "Open Sans", Arial, sans-serif;
  color: #00796b;
}

h1 {
  margin: 0 auto;
  font-size: 30px;
}

a {
  color: #00796b;
  font-weight: 600;
}

#app {
  background: #dbf6bd;
  border: 3px solid #00796b;
  border-radius: 45px;
  margin: 30px auto 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width: 90vw;
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-columns: 8fr 7fr;

  grid-template-areas:
    "hd hd"
    "left right";
}

.headline {
  grid-area: hd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.entry {
  grid-area: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#feelings {
  display: block;
  margin: 0 auto;
  resize: vertical;
  background: #f0ffdf;
  border-radius: 0 15px 0 15px;
  padding: 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

label {
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin: 5px;
}

::placeholder {
  color: #00796b;
  font-family: "Open Sans";
  font-size: 16px;
}

textarea,
input {
  color: #00796b;
  font-family: "Open Sans";
  font-size: 16px;
}

#zip {
  display: block;
  margin: 0 auto;
  width: 150px;
  background: #f0ffdf;
  border: 1px solid #00796b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 7px;
}

.zip {
  margin-bottom: 15px;
}

#generate {
  display: block;
  margin: 15px auto;
  padding: 7px 20px;
  border: 1px solid #00796b;
  border-radius: 8px;
  background-color: transparent;
  color: #00796b;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 250ms ease-in-out;
}

#generate:hover {
  border: 1px solid #00796b;
  background-color: #bde292;
  color: #00796b;
  cursor: pointer;
}

.title {
  font-size: 16px;
  text-decoration: underline;
  font-weight: 600;
  margin: 5px auto 10px;
}

.description {
  font-weight: 600;
  margin: 5px 0 1px;
}

#date,
#city,
#temp,
#content {
  min-height: 23px;
  display: flex;
  justify-content: center;
}

#content {
  min-height: 80px;
}

footer {
  width: 90vw;
  margin: 0 auto;
  color: #00796b;
  padding-left: 70px;
  font-size: 12px;
}

@media (min-width: 900px) {
  #app {
    width: 700px;
  }

  footer {
    width: 700px;
  }
}
